nav{
    width: 80%;
    margin: 0 auto;
    background-color: lightsalmon;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav button{
    background-color: yellow;
    margin: 1rem;
    padding: 10px;
    height: 30px;
    border:none;
    border-radius: 20px;
    flex-grow: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav img{
    width:2rem
}

nav button:nth-of-type(3){
    
    flex-grow: 1.5;
    height: 50px;
    font-size: 20px;
}
nav button:nth-of-type(1){
    margin-left: 35px;
}
nav button:nth-of-type(5){
    margin-right: 35px;
}