main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}
.card{
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: rgb(150, 137, 149);
}
.card img{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card button{
    border-radius: 10px;
    width: 60%;
    border:none;
    padding:20px;
    background-color: yellow;
    align-self: center;
    padding: 10px;
    margin:15px;
    cursor: pointer;
}
.description{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.description h3{
    margin-bottom: 0;
}
.description div p{
    margin-top: 0;
    text-align: center;
}
